*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #a3ffb7 ;
    font-family: 'Montserrat', sans-serif;
}
.header{
    font-size: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maincont{
    height: 60vh;
    margin: 3% 15% 3% 15%;
    background-color: white;
}
.text{
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartcont{

    width: 100%;
    padding: 3% 15% 3% 15%;
    height: 100vh;

}

.cart{
    background-color: white;
    width: 20%;
    height: 60%;

    display: inline-block;
    margin: 1% 2% 1% 2%;
    letter-spacing: normal;
    text-align: center;
    
}
.image{
    width: 90%;
    height: 50%;
    margin: 5% 5% 5% 5%;
    background-color: aqua;
}
.name{
    font-size: 24px;
    font-weight: 400;
    margin: 2% 0 2% 0;
}
.description{
    margin: 2% 0 2% 0;
}
.price{
    margin: 40% 0 2% 0;
}